TURSO_DATABASE_URL=libsql://globrewwaitlist-pulkit3010.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJleHAiOjE3ODYyNzA2NTYsImlhdCI6MTc4NTY2NTg1NiwiaWQiOiIwMTlmYzFmMC1hYzAxLTdjZjAtOTU1OC0zOTgwNDRhNDU3NjMiLCJraWQiOiIxbllHOTM4TG5FQXo5elpIaXVCSTk2QmJlV1RQUGxPMzhmSHBtcGxfVno4IiwicmlkIjoiNTkwYzUzZWItMWI1OS00NGZhLWEyNTctZDFmNjk4ZmQ2ZWQ4In0.95lm_JgDLqx2CDNhqOs42ZUjMGzPHdRAmIn73v5vHt9icrzoV1ZyMKH2ECHsS8LRq6ZEXVBV5Evme-5uCY4RBg

RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
RESEND_FROM_NAME=JAGAVE
PUBLIC_ORIGIN=http://localhost:8000
PORT=8000
